*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #8b2b23;
}
 div#div1{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
       div#div1 > img {
          height:100%;
          width:100%;
          border:0;
                       }  
a{
    text-decoration: none;
}
#box{
	margin: 0px auto;
	width: 1500px;
	height: 600px;
	background:lightsteelblue;
	position: relative;
}
#box .box_left{
	width:35% ;
	height: 600px;
	position: absolute;
    background:#ffffff;
    /*filter:alpha(opacity=80);  *//* ie 有效*/
    /*-moz-opacity:0.8; *//* Firefox  有效*/
    /*opacity: 0.8; *//* 通用，其他浏览器  有效*/
	float: left;
}
#box .box_right{
	width: 60%;
	height: 600px;
	float: right;
}
.music_introduce{
    margin-top: 30px;
    width:100%;
    height: 200px;
    padding: 20px 10px;
    font-family: 微软微软雅黑;
    font-size: 30px;

}

#box .box_right_hidden{
    width: 60%;
    height: 600px;
    display: none;
    float: right;
}

.name{
    cursor: pointer;
	width: 250px;
	height: 120px;
	display: inline-block;
	position: relative;
	top: 60px;
	left: 50px;
	text-align: center;
	color: burlywood;
	font-size: 20px;
	font-family: "微软雅黑";

}
.nav{
	position: absolute;
	height: 420px;
	width: 100%;

	margin-top:60px ;
}
.nav ul{
	list-style: none;
}

.nav ul li a:hover {
    color: gold;
    cursor: pointer;
    transform:  rotate(360deg);
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
    transition:all 2s;
}


.nav ul li a{
    /*transition:ease-in 1.2s;*/
	height: 60px;	
    display:inline-block;
    padding:5px 20px; 
    color:#fff; 
    line-height: 60px;
    font-size: 30px;
    background:gray; 
    text-decoration:none; 
    margin-left: 50px;
    margin-top:10px ;
    border-radius: 20px;
}
#box .box_right{
	position: relative;
}
.logo{
	overflow: hidden;
	
}
#introduce{
	/*border: 1px solid red;*/
    padding-right: 10px;
	width: 50%;
	height: 500px;
	float: right;
	margin-top:100px;
	font-family: "微软雅黑";
	font-size: 25px;
	overflow: hidden;
	text-indent: 50px;
	text-shadow: 1px  #808080;
	
}

.table{
	margin: 0px auto;
	width: 1500px;
	height: 500px;
}
.firstline{
	
	position: relative;
}


.myskills{
	font-family: "agency fb";
	font-size: 90px;
	height: 100px;
	line-height: 50px;
	text-align: center;
}


.pic>td{
	position: relative;
}
#canvas,#canvas2,#canvas3{
	
	margin-left: 100px;
}
.totop{position: fixed;bottom: 100px;margin-left: 800px;}
#time{
    background-color: dodgerblue;
    filter:alpha(opacity=80);  /* ie 有效*/
	-moz-opacity:0.8; /* Firefox  有效*/
	opacity: 0.8; /* 通用，其他浏览器  有效*/
	width: 1500px;
	height: 100px;
	margin: 0px auto;
	/*border: 1px solid red;*/
}
#time_right{

    margin-right: 25px;
    width: 500px;
    height: 100px;
    text-align: end;
    color: blanchedalmond;
    line-height: 100px;
    font-family: "微软雅黑";
    font-size: 70px;
    float: right;
}
#time #overread{

    width: 670px;
    height: 100px;
    float: left;
}
.totop{
    display: none;
    bottom: 80px;
    width: 50px;
    height: 100px;
    position: fixed;
    left: 50%;
    margin-left: 800px;
    background: darkred;

}
.totop:hover{
    background: green;
}
.show{
    width: 1500px;
    height: 500px;
    background: #fff;
    margin: 0px auto;
}
.show .tap{
    background:#808080;
    height: 70px;
    position: relative;
}
.show .tap ul{
    position: absolute;
    width: 1500px;
}
.show .tap li{
    width: 498px;
    line-height: 70px;
    text-align: center;
    float: left;
    font-size: 40px;
    list-style: none;
    border-bottom: 1px solid green;
    -webkit-transition: 1s ;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s ;
    transition: 1s ;
}
.tap li a:link,.tap li a:visited{
    text-decoration: none;
    color: #000;
}
.tap li a:hover{
    color: #f90;
    font-weight: 700;
}
.show .tap li.select{
    background: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0;
  }


.tap-content{
    width: 1500px;
    height: 500px;
}
 .tap-content .tapct{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 5px;
   }
 .tap-content .tapct ul li{
    float: left;
    width: 360px;
    height: 100px;
}

.nan{

    height: 400px;

}



.nan td{
       font-size: 30px;
       padding: 0 20px;
}
footer .footing{

    width: 1500px;
    height: 250px;
    background: darkred;
    margin: 0px auto
}
footer .footing ul{
    list-style: none;

}
.footing ul li{

    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

footer .footing ul li a{
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
