*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #8b2b23;
}

#box{
	margin: 0px auto;
	width: 1500px;
	height: 600px;
	background:lightsteelblue;
	position: relative;
}
#box .box_left{
	width:35% ;
	height: 600px;
	background: greenyellow;
	position: absolute;
	float: left;
}
#box .box_right{
	width: 60%;
	height: 600px;
	background: pink;
	float: right;
}

.name{
	width: 250px;
	height: 120px;
	background: gray;
	display: inline-block;
	position: relative;
	top: 60px;
	left: 50px;
	text-align: center;
	color: burlywood;
	font-size: 60px;
	font-family: "微软雅黑";
	line-height: 120px;
}
.nav{
	position: absolute;
	height: 420px;
	width: 100%;
	background:white;
	margin-top:60px ;
}
.nav ul{
	list-style: none;
}

.nav ul li a{ 
	height: 60px;	
    display:-moz-inline-box; 
    display:inline-block; 
    padding:5px 20px; 
    color:#fff; 
    line-height: 60px;
    font-size: 30px;
    background:gray; 
    text-decoration:none; 
    margin-left: 50px;
    margin-top:10px ;
    border-radius: 20px;
}
#box .box_right{
	position: relative;
}
.logo{
	overflow: hidden;
	
}
#introduce{
	/*border: 1px solid red;*/
	width: 50%;
	height: 500px;
	float: right;
	margin-top:100px;
	font-family: "微软雅黑";
	font-size: 25px;
	overflow: hidden;
	text-indent: 50px;
	text-shadow: 1px  #808080;
	
}

.table{
	margin: 0px auto;
	width: 1500px;
	height: 500px;
}
.firstline{
	
	position: relative;
}


.myskills{
	font-family: "agency fb";
	font-size: 90px;
	height: 100px;
	line-height: 50px;
	text-align: center;
}


.pic>td{
	position: relative;
}
#canvas,#canvas2,#canvas3{
	
	margin-left: 100px;
}
.totop{position: fixed;bottom: 100px;margin-left: 800px;}
#time{

	text-align: end;
    line-height: 100px;
    font-family: "微软雅黑";
    font-size: 70px;
    background: rgba(236,125,315,0.2);
	width: 1500px;
	height: 100px;
	margin: 0px auto;
	/*border: 1px solid red;*/
}
.totop{
    display: none;
    bottom: 80px;
    width: 50px;
    height: 100px;
    position: fixed;
    left: 50%;
    margin-left: 800px;
    background: darkred;

}
.totop:hover{
    background: green;
}
.show{
    width: 1500px;
    height: 500px;
    background: #fff;
    margin: 0px auto;
}
.show .tap{
    background:#808080;
    height: 70px;
    position: relative;
}
.show .tap ul{
    position: absolute;
    width: 1500px;
}
.show .tap li{
    width: 498px;
    line-height: 70px;
    text-align: center;
    float: left;
    font-size: 40px;
    list-style: none;
    border-bottom: 1px solid green;
    -webkit-transition: 1s ;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s ;
    transition: 1s ;
}
.tap li a:link,.tap li a:visited{
    text-decoration: none;
    color: #000;
}
.tap li a:hover{
    color: #f90;
    font-weight: 700;
}
.show .tap li.select{
    background: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0;
  }


.tap-content{
    width: 1500px;
    height: 430px;
}
 .tap-content .tapct{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
   }
 .tap-content .tapct ul li{
    float: left;
    width: 360px;
    height: 100px;
}

.nan{
    width: 500px;
    height: 420px;

}


.nan td{

    font-size: 30px;
}
footer .footing{

    width: 1500px;
    height: 250px;
    background: darkblue;
    margin: 0px auto
}
footer .footing ul{
    list-style: none;

}
.footing ul li{

    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

footer .footing ul li a{

    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
